.container {
    width: 100%;
    padding-top: 15%;
}

.titleDiv {
    text-align: center;
}
.passwordForm {
    text-align: center;
    padding-top: 10%;
}
.passwordInput {
    width: 100%;
    height: 4vh;
}
.card {
    padding-top: 10%;
    margin-top: 25px;
    color: white;
    background-color: black;
    border: 1px solid white;
    align-items: center;
}
