
html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*Navbar Code */
nav {
  background-color: black;
  min-height: 50px;
  position: absolute;
  z-index: 3;
  color: black;
}

#navlogolink {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-toggler {
  padding-right: 1em;
}
.navbar-nav {
  padding-left: 2em;
}

/*Enter Site Button*/
.enterDiv {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  text-align: center;
}

.enterText {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #0F0;
  font-family: monospace;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.enterText:before {
  content: "";
  background: linear-gradient(
    45deg,
    #48ff00,
    #000,
    #48ff00

  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: enterText 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes enterText {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.enterText:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.enterLink {
  text-decoration: none;
  color: #0f0;
}
.enterLink:hover {
  color: #0f0;
}

.footer {
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  font-size: 15px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #24262b;
  color: white;
  text-align: center;
  align-items: center;
}

.text-sectiontwotext a{
  background-color: green;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  margin: auto;
}